html 
{
    position: relative;
    min-height: 100%;
}
.footer 
{
    background: rgb(39, 39, 39);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.navbar
{
    padding-top: 0px;
    padding-bottom: 0px;
}

body
{
    background: linear-gradient(#011c44,rgb(8, 84, 172),#011c44);
}

.jumb
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.jumbotron 
{
    margin-bottom: 60px; /*evite la superposition du footer et des jumbotron*/

}


.timer
{
    color: rgb(218, 0, 0);
}
.dispTime
{
    color: rgb(243, 180, 43);
}
.bestScore
{
    color: rgb(27, 228, 0);
}
.score
{
    font-weight: bold;
}


.img-fluid, .embed-responsive
{
    border-radius: 7px;
    border: 4px solid white;
    box-shadow: 1px 1px 10px #555;
}


.intitQuest, .title
{
    background: rgb(240, 239, 239);
    border: 2px solid grey;
    border-radius: 8px;
    box-shadow: 5px 3px 3px rgb(75, 75, 75);
    padding: 8px;
    font-weight: bold;
    align-items: center;
}


.btn-primary
{
    background: rgb(132, 20, 197);
    border-color: rgb(125, 6, 194);
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .open>.dropdown-toggle.btn-primary 
{
    background-color: rgb(97, 19, 143) !important;
    border-color: rgb(125, 6, 194)!important;
}

.choiceBtn 
{
    margin-top:3px;
    margin-bottom:3px;
}
.choiceBtn:hover, .choiceBtn:focus, .choiceBtn:active, .open>.dropdown-toggle.choiceBtn 
{
    font-size:x-large;
    margin:0px;
}


